{%- if ospf_priority is defined -%}
interface vlan 1
  ip ospf priority {{ ospf_priority }}
{%- endif %}
router ospf {{ ospf_process_id }}
  passive-interface default
  {%- for active in ospf_active_interfaces %}
  no passive-interface {{ active }}
  {%- endfor %}
  {%- for nets in ospf_area0_networks %}
  network {{ nets }} area 0.0.0.0
  {%- endfor %}
  max-lsa 12000
